{% load static %}
<!DOCTYPE html>
<html>
<body>
<head>
    <link href="{% static 'blog/css/materialize.css' %}" rel='stylesheet' >
    <link href="{% static 'blog/css/base.css' %}" rel='stylesheet' >
</head>
{% block title %}
    Contact List Title
{% endblock %}

<h2>
    <a href="{% url "home" %}">Home</a>
</h2>

Hello
{% if user.is_authenticated %}
    {% if user.first_name %}
        {{ user.first_name }} {{ user.last_name }}
    {% else %}
        {{ user.username }}
    {% endif %}
{% else %}
     Guest
{% endif %}.

{% block content %}
    Content
{% endblock  %}

{% include 'blog/footer.html' %}
</body>
</html>
