{% extends 'blog/base.html' %}
{% load custom_tags %}

{% block title %}
    <h1>Delete Contact?</h1>
{% endblock %}

{% block content %}

    {% if object %}
        <table border="1">
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tbody>
                {% for name, value in object|get_fields %}
                    <tr>
                        <td><strong>{{name}}</strong>:</td><td>{{value}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <form  method="post">
            {% csrf_token %}
            <h3>Are you sure you want to delete this Post?</h3>
            <input  type="submit"  value="Submit"  />
        </form>

    {% else %}
        <h2>Contact not found.</h2>
    {% endif %}

{% endblock %}

